*{
  margin: 0;
  padding: 0;
    /*border: solid black;*/
}


.contenuContainer{
    display: flex;
    justify-content: space-between;
   margin-bottom: 50px;
   margin-left: 100px;
   margin-right: 100px;

}


.TitreLogement{
font-family: montserrat, sans-serif;
font-weight: 500;
font-size: 36px;
color: #FF6060;
}

.host{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.host p{
    font-family: montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF6060;
   
    
    
}
.host img {
    border-radius: 50%;
    width: 64px;
    margin-left: 10px;
    
}



.location{
    text-align: left;
    margin-bottom: 20px;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;

    color: #FF6060;
   

    top: -10px;

}


.tags{
    position: absolute;
}

.tag{
    background: none;
    border: #FF6060;;
    background-color: #FF6060;
    border-radius: 10px ;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
   color: #FFFFFF;
   font-family: Montserrat, sans-serif;
   font-size: 14px;
}



.Collapses{
   
    
    
    margin-bottom: 150px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

.collapsesContainer{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1024px){
    .contenuContainer{
       
       margin-left: 70px;
       margin-right: 70px;
    
    }
    .TitreLogement{
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px){
    .contenuContainer{
       
      
       flex-direction: column;
       margin-left: 60px;
       margin-right: 60px;
        
    }

    .TitreLogement{
        
        font-size: 25px;
        text-align: left;
    }

    .host{
        justify-content: flex-end;
       
    }

    .rating{
       text-align: left;
     
    }

    .containerHostRating{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .containerTitreLocationTags{
        margin-bottom: 100px;
    }
    
    
}

@media only screen and (max-width: 425px){
    .contenuContainer{
       
        margin-left: 30px;
        margin-right: 30px;
     
     }

     .TitreLogement{
        
        font-size: 18px;
        text-align: left;
    }

}

/*
@media only screen and (max-width: 768px){

    .contenuContainer{
       flex-direction: column;
     
    }
    
    .ContainerLogement{
    margin-left: 35px;
 
    }
    .TitreLogement{
    font-size: 18px;
    text-align: left;
        }

    .containerLogement{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .host{
        display: flex;
   
        float: left;
   
    }

    .host p{
     
        font-size: 12px;
       
    }

    .host img {
      
        width: 32px;
        
    }

    .containerHostRating{
        display: flex;
        justify-content: space-between;
        
        margin-right: 15px;
        align-items: center;
        flex-direction: row-reverse;
    }

    .location{
        font-size: 14px;
       
    }

    .tag{
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        
    }

    .tags{
        position: relative;
        top: -10px;
        text-align: left;
    }

   
    
    .rating svg{
       width: 15px;
       height: 15px;
    }
    
   .rating{
    display: flex;
    float: right;
   
   }

   .Collapses{
    grid-template-columns: none ;
    grid-template-rows: repeat(2, 1fr);
   }
  

 }

*/