.Container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.Background {
  border-radius: 25px;
  background-color: #e3e3e3;
  width: 80%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.box {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 340px;
  height: 340px;
}

.box-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 340px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  display: flex;
  align-items: flex-end;
  text-align: left;
  padding: 10px;
}
.Cover {
  width: 340px;
  height: 340px;
  display: block;
  object-fit: cover;
}

.Title {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .Background {
    background-color: white;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 871px) {
  .Background {
    background-color: white;
  }

  .box,
  .box-content,
  .Cover {
    width: 400px;
    height: 400px;
  }
}
