* {
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 100px;
}

.bannerMobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  .bannerMobile {
    display: block;
  }

  .bannerDesktop {
    display: none;
  }
}
