.containerArrow {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
  width: 85%;
  align-items: center;
  align-content: center;

  margin-top: 170px;
}

.containerArrow button {
  width: 46px;
  height: 79px;
}

.Carrousel {
  max-width: 85%;
  height: 415px;
  margin: auto;
}

.imageSlide {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 10px;
}

.previousButton,
.nextButton {
  background: none;
  border: none;
}

.counterContainer {
  margin-top: -40px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

@media only screen and (max-width: 450px) {
  .Carrousel,
  .imageSlide {
    height: 255px;
  }

  .containerArrow {
    margin-top: 0;
    margin-top: 120px;
    width: 85%;
  }

  .containerArrow button {
    width: 11px;
    height: 18px;
  }
}
