.containerArrow {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
  width: 85%;
  align-items: center;
  align-content: center;
  top: 37%;
  margin-top: 90px;
  
}

.containerArrow button{
  width: 46px;
  height: 79px;
}

.Carrousel {
  max-width: 85%;
  height: 415px;
  margin: auto;
}

.imageSlide {
  width: 100%;
  height: 415px;

  border-radius: 10px;
}

.previousButton,
.nextButton {
  background: none;
  border: none;
}

@media only screen and (max-width: 450px) {
  .Carrousel,
  .imageSlide {
    height: 255px;
  }

  
.containerArrow{
  margin-top: 0;
  top:42%;
}

.containerArrow button{
  width: 11px;
  height: 18px;
}

  
}





