* {
  margin: 0;
  padding: 0;
}

.contenuContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 20px;
}

.TitreLogement {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  text-align: left;
}

.host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.host p {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  color: #ff6060;
}
.host img {
  border-radius: 50%;
  width: 64px;
  margin-left: 10px;
}

.location {
  text-align: left;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;

  color: #ff6060;

  top: -10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background: none;
  border: #ff6060;
  background-color: #ff6060;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.stars {
  height: 30px;
  width: 30px;
}

.Collapses {
  margin-bottom: 150px;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
}

.collapsesContainer {
  display: flex;
  justify-content: center;
}

.rating {
  margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
  .TitreLogement {
    font-size: 25px;
  }

  .stars {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 1240px) {
  .contenuContainer {
    flex-direction: column;

    margin-left: 90px;
    margin-right: 90px;
  }

  .host {
    justify-content: flex-end;
  }

  .rating {
    text-align: left;
    margin-top: 0;
  }

  .containerHostRating {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .containerTitreLocationTags {
    margin-bottom: 20px;
  }

  .stars {
    height: 25px;
    width: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .contenuContainer {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .contenuContainer {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 455px) {
  .contenuContainer {
    margin-left: 30px;
    margin-right: 30px;
  }

  .TitreLogement {
    font-size: 18px;
  }

  .Collapses {
    margin-bottom: 150px;

    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .host p {
    font-size: 12px;
  }

  .host img {
    width: 32px;
  }

  .stars {
    height: 15px;
    width: 15px;
  }
}
