.Error {
  font-size: 288px;
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 100px;
}

.Oups {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

.Back {
  color: #ff6060;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 100px;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .Error {
    font-size: 96px;
  }

  .Oups {
    font-size: 18px;
  }

  .Back {
    font-size: 18px;
  }
}
