nav {
  margin-top: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #ff6060;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.activeLink {
  text-decoration: underline;
}

@media only screen and (max-width: 425px) {
  nav a {
    font-size: 12px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  nav a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav a {
    font-size: 20px;
  }
}
